html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-weight: 400;
  font-size: var(--font-size-base);
  font-family: var(--font-primary);
  line-height: var(--line-height);
  background-color: var(--background-primary);
  color: var(--foreground-primary);
}

fieldset,
figure,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
  pointer-events: none;
}

fieldset {
  padding: 0;
  border: none;
}
