@use '../abstracts/media' as media;
@use '../abstracts/mixins' as mixins;

.delivery {
  &__title {
    margin-bottom: 16px;
    font-size: var(--font-size-medium);

    @include media.mobile {
      font-size: var(--font-size-base);
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 16px;

    @include media.tablet {
      gap: 16px 10px;
    }
  }

  &__personal {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
  }

  &__input {
    flex: 1 1 408px;
    min-width: 0;
    height: 38px;
    padding: 12px 14px;
    border: none;
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-small);
    background-color: var(--background-muted);

    @include mixins.transition(border-color);

    @include mixins.hover {
      outline: 1px solid var(--color-gray);
    }

    @include mixins.focus-outline(0, var(--color-gray));

    @include media.laptop {
      flex-basis: 300px;
    }

    @include media.tablet {
      flex-basis: 240px;
    }

    @include media.mobile-large {
      flex-basis: 100%;
    }

    &::placeholder {
      color: var(--foreground-muted);
    }

    &--textarea {
      flex-basis: 100%;
      min-width: 100%;
      height: 120px;
      resize: none;
    }
  }

  &__extra {
    flex: 0 1 196px;

    @include media.tablet {
      flex-basis: 230px;
    }

    @include media.mobile-large {
      flex-basis: 100%;
    }
  }

  &__legend {
    margin-bottom: 16px;
    font-size: var(--font-size-base);

    @include media.mobile {
      margin-bottom: 12px;
    }
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__label {
    position: relative;
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: var(--font-size-small);

    @include mixins.transition(opacity, border-color);

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid var(--color-dark);
      border-radius: 50%;
      transition: inherit;
    }

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--background-accent);
      opacity: 0;
      transition: inherit;
    }
  }

  &__radio {
    @include mixins.visually-hidden;

    @media (hover: hover) {
      &:hover + label:before {
        outline: 1px solid var(--color-blue);
      }
    }

    @media (hover: none) {
      &:active {
        outline: 1px solid var(--color-blue);
      }
    }

    &:focus + label:before {
      outline: none;
    }

    &:focus-visible + label:before {
      outline: 1px solid var(--color-blue);
    }

    &:checked + label:before {
      border-color: var(--color-blue);
    }

    &:checked + label:after {
      opacity: 1;
    }
  }
}
