@use '../abstracts/media' as media;
@use '../abstracts/mixins' as mixins;

.slider {
  &__current {
    position: relative;
    margin-bottom: 16px;
    border-radius: var(--border-radius-medium);

    @include media.mobile {
      margin-bottom: unset;
    }
  }

  &__current-slide {
    object-fit: cover;
    border-radius: var(--border-radius-medium);
  }

  &__current-button {
    --offset: 24px;

    position: absolute;
    top: 50%;
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--background-muted);
    color: var(--font-primary);

    @include mixins.flex-center(true);
    @include mixins.transition(background-color);

    @include mixins.hover {
      background-color: var(--background-primary);
    }

    @include mixins.focus-outline(0, var(--color-dark));

    @include media.mobile {
      --offset: 16px;
    }

    &--prev {
      left: var(--offset);
      transform: translateY(-50%);
    }

    &--next {
      right: var(--offset);
      transform: translateY(50%);
      rotate: 180deg;
    }
  }

  &__thumbnails-slide {
    border-radius: var(--border-radius-medium);
  }
}
