@use '../abstracts/media' as media;
@use '../abstracts/mixins' as mixins;

.table {
  width: 100%;
  margin-bottom: 24px;
  border-spacing: 0 8px;
  border-collapse: separate;
  font-size: var(--font-size-small);

  &__title {
    display: table-caption;
    width: 100%;
    margin-bottom: 12px;
    font-size: var(--font-size-base);
    text-align: left;
  }

  &__data {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color-gray-light);

    &:first-of-type {
      color: var(--foreground-muted);
    }

    &:last-of-type {
      text-align: right;
    }
  }
}
