@use '../abstracts/media' as media;
@use '../abstracts/mixins' as mixins;

.visually-hidden {
  @include mixins.visually-hidden;
}

.hidden-mobile {
  @include media.mobile {
    display: none;
  }
}

.visible-mobile {
  @include media.mobile-above {
    display: none;
  }
}

.title {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: var(--font-size-large);
  font-family: var(--font-secondary);

  @include media.tablet {
    margin-bottom: 32px;
  }

  @include media.mobile {
    margin-bottom: 24px;
  }
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.link-active {
  @include mixins.transition(color);

  @include mixins.hover {
    color: var(--color-blue);
  }

  @include mixins.focus-outline(2px, var(--color-blue));
}
